.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  /* background-image: url('./assets/hanoi.jpg'); */
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 60vw;
  height: 99vh;
  border: 1px solid red;
}