.box
{
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: auto;
    height: auto;
    margin-bottom: 2vh;
}

.suporte {
    position: absolute;
    bottom: 0;
    margin-bottom: 7vh;
}

.tamanho10{
    margin-right: 0vh !important;
}
