.box
{
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: auto;
    height: auto;
    margin-bottom: 2vh;
}

.suporte {
    position: absolute;
    bottom: 0;
    margin-bottom: 6vh;
}

.tamanho10 , .tamanho6 {
    margin-right: 0vh !important;
}
